/* Montserrat: CSS class for a variable style // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

Open Sans: CSS class for a variable style // <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    color: #434455;
    background-color: #f6f6fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.71429;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-style: normal;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    padding: 64px 34px;
    width: 1280px;
    background-color: #ffffff;
    margin: 24px auto;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.lang-switch {
    padding: 7px;
    position: absolute;
    top: 64px;
    right: 34px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #efefef;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lang-switch:hover, .lang-switch:focus {
    opacity: 0.5;
}

/* Header */
.header {
    margin-bottom: 44px;
}

.container-header {
    display: flex;
    gap: 28px;
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
}

.header-list {
    display: flex;
    gap: 28px;
}

.address-list {
    display: flex;
    gap: 28px;
}

/* Summary */
.summary-section {
    margin-bottom: 24px;
}

/* Skill */
.skills-section {
    margin-bottom: 24px;
}

.skills-container {
    display: flex;
    gap: 124px;
    margin-bottom: 14px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* Project experience */
.project-experience {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 24px;
}

.proj-exp-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: inside;
}

/* Work experience */
.work-experience {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 24px;
}

.work-exp-pos-list {
    display: flex;
    gap: 84px;
}

.work-exp-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: inside;
}

/* Footer */
.footer-container {
    display: flex;
    gap: 400px;
}

.education-languages {
    display: flex;
    flex-direction: column;
    gap: 7px;
}